  /* header  */
  .weather-header{
    background: #20084a;
    background: -webkit-linear-gradient(right, #20084a, #3463bc);
    background: -moz-linear-gradient(right, #20084a, #3463bc);
    background: linear-gradient(to left, #20084a, #3463bc);
    color: white;
    text-align: center;
  }